<div class="custom-announcement-bar">
  <p>{{ section.settings.text }}</p>
</div>

<style>
.custom-announcement-bar{
    background:#111;
    color:#fff;
    text-align:center;
    padding:10px;
    font-size:14px;
}
</style>
